.navbar {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;

	width: 100%;
	height: var(--height-navbar);

	border-top: 1px solid var(--themeColorAccentsLight);
	background: linear-gradient(to bottom, #00000000, var(--themeColorSecondary));
}
.navbar a {
	padding: 8px;

	border: 1px solid white;
	border-radius: 8px;

	color: white;
	text-decoration: none;
	text-align: center;
}
