.navbar {
	position: fixed;
	bottom: 0;

	display: grid;
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;

	width: 100%;
	height: var(--height-navbar);
	min-height: 50px;

	border-top: 1px solid var(--themeColorAccentsLight);

	background: linear-gradient(to bottom, var(--themeColor), var(--themeColorSecondary));
	z-index: 10;
}
.navbar a {
	padding: 8px;

	border: 1px solid white;
	border-radius: 8px;

	color: white;
	text-decoration: none;
	text-align: center;
}
