* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--height-main: 85vh;
	--height-navbar: 15vh;

	--themeColor: #1b1b1b;
	--themeColorSecondary: #000;
	--themeColorAccents: #ffffff;
	--themeColorAccentsLight: #ffffff22;
	--themeColorSelected: #fff;

	--fontColor: #fff;
}
i {
	color: var(--fontColor);
}

body {
	font-family: 'Gruppo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
	height: var(--height-main);
	color: var(--fontColor);
}

.App,
#root,
html {
	background: linear-gradient(#00000088, #1b1b1b77);
	/* background: #00000022; */
	min-height: 325px;
	overflow: hidden;
}

.App,
.page {
	height: 100%;
}
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page__title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 8px;
}
