* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--height-main: 80vh;
	--height-navbar: 20vh;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
	height: var(--height-main);
}

.App,
.page {
	height: 100%;
}
