# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.vscode
.DS_Store
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

board/carputer/generated/

# Build artifacts and logs
logs/

# IDE and editor files
.cursor/
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

jsconfig.json

assets/videos
fleet-cc-server/*/.env
fleet-cc-server/backend/.env
fleet-cc-server/frontend/.env
