.controls {
	height: 100%;
}
.controls__grid {
	--columns: 2;
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	justify-items: center;
	align-items: center;

	height: 100%;
}
.controls__grid a {
	border: 1px solid red;
}
