.main-controls {
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.main-controls__grid {
	display: grid;
	grid-auto-flow: column;
	--rows: 4;
	grid-template-rows: repeat(var(--rows), 1fr);
	gap: 16px;

	justify-content: space-between;
	align-items: center;

	width: 60%;
	height: 100%;

	padding: 16px;
}
@media (max-height: 875px) {
	.main-controls__grid {
		--rows: 3;
	}
}

@media screen and (max-height: 650px) {
	.main-controls__grid {
		--rows: 2;
	}
}
