.tile-main {
	/* position: relative; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	--minSize: 125px;
	--size: 35vh;
	--maxSize: 165px;
	min-height: var(--minSize);
	height: var(--size);
	max-height: var(--maxSize);
	min-width: var(--minSize);
	width: var(--size);
	max-width: var(--maxSize);

	padding: 8px;

	border-radius: 4px;
	text-decoration: none;
	color: var(--fontColor);
}
.tile-main i {
	position: absolute;
	opacity: 0.1;

	font-size: 80px;
}
.tile-main p {
	font-size: 22px;
	font-weight: 700;
}
