.tile-led {
	position: relative;

	height: 100%;
	min-height: 175px;
	max-height: 250px;
	width: 150px;

	border-radius: 8px;
	overflow: hidden;

	transition: all 0.5s ease-in-out;
}
.tile-led.selected {
	box-shadow: 0 0 16px 4px var(--themeColorSelected);
}
.tile-led:hover {
	cursor: pointer;
}
.tile-led img {
	height: 75%;
	width: 100%;
	object-fit: cover;
}
.tile-led__body {
	position: absolute;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 60%;
	min-height: 135px;
	width: 100%;

	text-align: center;

	background: linear-gradient(to top, #000 65%, #00000000);
}
.tile-led__body h3 {
	--border: 1px solid var(--themeColorAccents);
	border-top: var(--border);
	border-bottom: var(--border);
}
.tile-led__body p {
	margin-top: 16px;
	font-size: 18px;
}
.tile-led__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 8px 0;
}
.tile-led__buttons i {
	font-size: 20px;
}
.tile-led__buttons :not(:first-child) {
	margin-left: 12px;
}
.tile-led__buttons button {
	background: none;
	outline: none;
	border: none;
}
.tile-led__buttons button:hover {
	cursor: pointer;
	filter: brightness(0.8);
}
